:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --web-bg-color: #f5f5f5;
}

*{
    box-sizing: inherit;
}

html{
    /* 100% <=> 16px o 1 so trinh duyet => 62.5% = 10px => tien dung hon*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-full-width{
    width: 100%;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
}