.container {
    background-color: var(--web-bg-color);
    padding-bottom: 50px;
}

/* 1. css for header */
/* navbar  */
.navbar__link.navbar__link--bold {
    font-weight: 500;
}

.navbar-wrapper {
    background-color: #333e48;
}

.navbar {
    height: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    color: var(--white-color);
    padding: 0 7px;
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar a {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__item--signup,
.navbar__item--app,
.navbar__item--phone {
    position: relative;
}

.navbar__item--signup::after,
.navbar__item--app::after,
.navbar__item--phone::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #9ea2bd;

    right: -2px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__item--phone .navbar__link:hover,
.navbar__item--mail .navbar__link:hover,
.navbar__item--app:hover {
    color: #ffffffb3;
    cursor: pointer;
}

.navbar__qr {
    display: none;
    position: absolute;
    top: 10px;
    padding-top: 20px;
}

.navbar__qr img.qr-code {
    width: 180px;
    height: 180px;
}

.navbar__qr .store-link img {
    height: 1.8rem;
}

/* search section */
.header-search {
    height: 9.5rem;
    display: flex;
}

.header-search__logo img {
    width: 60px;
}

/* 2. css for body */
.product-section,
.news {
    background-color: var(--white-color);
}

/* product section */
.product-section a {
    text-decoration: none;
}

.product__list {
    display: flex;
}

.head-product {
    width: 37%;
    padding: 30px;
    border-right: 1px solid #e1e1e1;
}

.list-product {
    padding: 30px;
    display: flex;
    width: 63%;
    flex-wrap: wrap;
}

.list-product .product {
    padding: 0 8px;
    width: 33.33%;
    flex: 0.333 0 33.33%;
}

.product__pic{
}

.product__info--name{
    font-size: 1.4rem;
    color: rgba(0,0,0,0.8);
    font-weight: normal;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product__pic img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
}

/* /sunscreen section */
/* cushion section */
/* cleanser section */


/* news section */
.a-news {
    text-decoration: none;
    color: #222;
}

.news__heading,
.product__heading {
    background-color: var(--web-bg-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__heading a,
.product__heading {
    text-decoration: none;
    color: var(--black-color);
    font-size: 2.2rem;
    font-weight: 500;
}

.news__slider-btn {
    display: flex;
}

.news__slider-btn--left,
.news__slider-btn--right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 28px;
    height: 28px;

    margin: 0 5px;
    color: #aaa;
}

.news__slider-btn--left:hover,
.news__slider-btn--right:hover {
    cursor: pointer;
}

.news__all-news {
    display: flex;
    padding: 20px 0;
    overflow: hidden;
}

.a-news--container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.a-news__title {
    padding-top: 18px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.a-news__title:hover {
    color: #007bff;
}

/* 3. css for  footer */
.footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #ee4d2d;
}

.menu-wrapper {
    padding: 25px 0 15px 0;
    background: #fbfbfb;
}

/* footer main menu */
.footer .menus {
    display: flex;
}

.menus {
    display: flex;
    padding: 5px;
}

.menu .menu__heading {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 2rem;
}

.menu {
    padding: 5px;
    flex: 1;
}

.menu-social {
    width: 50%;
    margin-left: auto;
}

.menu-social i {
    font-size: 1.8rem;
}

.menu__item--store-link {
    display: flex;
}

.menu__item--store-link img {
    height: 8.4rem;
}

.footer img.qr-code {
    border: 1px solid rgba(0, 0, 0, .09);
}

.footer .store-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1.2rem;
}

.footer .store-link img {
    height: 2rem;
}

.menu__items {
    padding: 0;
}

.menu__item {
    display: block;
    margin-bottom: 1rem;
}

.menu__item a {
    color: var(--web-link-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu__item a:hover {
    color: #ee4d2d;
}

/* footer info */
.info {
    background-color: var(--web-bg-color);
    padding: 42px 0 57px 0;
}

.info__menu-links {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.info__menu-link a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--web-link-color);
    font-size: 1.2rem;
}

.info__menu-link {
    padding: 0 25px;
    position: relative;
}

.info__menu-link:not(.info__menu-link--last)::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #9ea2bd;

    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info__branch {
    text-align: center;
    font-size: 1.8rem;
    color: #555555;
}

.info__branch--name,
.info__branch--location {
    margin: 12px 0;
}